* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

.home-page {
    background-image: linear-gradient(#FEE1ED 100%, #F8F6FF 100%);
    width: 100%;
    animation: bg infinite 10s;
    padding-bottom: 400px;
    position: relative;
}

@keyframes bg {
    0% {
        background: #FEE1ED;
    }

    50% {
        background: #F8F6FF;
    }

    100% {
        background-color: rgb(204, 236, 246);
    }
}

ul li img {
    width: 90px;
    height: 40px;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

.menu-btn {
    width: 105px;
    height: 43px;
    border-radius: 25px;
    border: 1px solid #FFECE6;
    font-size: 18px;
}

.header-blog--bottom-content {
    font-size: 15px;
    font-weight: 300;
    line-height: 19.6px;
}

.header-blog--top-content {
    font-size: 34px;
    font-weight: 600;
}

.header-blog--btn1 {
    width: 160px;
    background-color: white;
    height: 47px;
    border-top: 1px solid #f9b7a3;
    border-left: 1px solid #f9b7a3;
    border-right: 1px solid #f9b7a3;
    border-radius: 30px;
    transition: .3s;
}

.header-blog--btn1:hover {
    height: 47px;
    width: 160px;
    background-color: #FF5D25;
}

.header-blog--btn1 a:hover {
    color: white;
}

.header-blog--btn2 {
    width: 195px;
    background-color: #FF5D25;
    height: 47px;
    border-radius: 30px;
}

.Dashboard {
    position: absolute;
    width: 1200px;

}

.what-offer {
    background-image: linear-gradient(#FEF0EB 100%, #F3F0FF 100%);
    border-radius: 30px;

}

.ohoh-line {
    width: 40px;
    height: 1px;
    background-color: #FF5D25;
    /* margin-left: 395px; */
    margin-left: auto;
    margin-right: auto;
}

.what-offer h2 {
    font-size: 36px;
}

.pioneer-blog--bg {
    background: linear-gradient(#FEF0EB 0%, #F3F0FF 100%);
    border-radius: 12px;
}

.pioneer-blog1--first--outer-box1 {
    width: 35px;
    height: 35px;
    background-color: #FF9209;
    border-radius: 7px;
    color: white;
    position: relative;
}

.pioneer-blog1--first--outer-box2 {
    width: 45px;
    height: 35px;
    background-color: #5E86EC;
    border-radius: 8px;
    color: white;
    position: relative;
}

.pioneer-blog1--first--outer-box3 {
    width: 35px;
    height: 35px;
    background-color: #8D9EFF;
    border-radius: 20px;
    color: white;
    position: relative;
}

.pioneer-blog1--first--outer-box4 {
    width: 35px;
    height: 35px;
    background-color: #810CA8;
    border-radius: 20px;
    color: white;
    position: relative;
    padding-left: 8px;
}

.pioneer-blog1--first--outer-box5 {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background: #D83A56;
    color: white;
    position: relative;
}

.poineer-blog--box1 {
    border-radius: 8px;
    border: 1px solid #EAEAEE;
    background: #FFF;
}

.poineer-blog--text p {
    color: #8E8E8E;
    font-size: 10px;
}

.poineer-blog--box1-end-box {
    border-radius: 12px;
    border: 1px solid #EAEAEE;
    background: #FFF;
}

.poineer-blog--text1 p {
    color: #8E8E8E;
    line-height: 2px;
}

.pioneer-box1--last--imgsize {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid rgba(191, 200, 226, 0.30);
    background: #FFF;
}
.pioneer-box1--last--imgsize h6{
    font-size: 13px;
    margin-top: 5px;
}
 .system-update{
    color: #FF6868; 
    margin-right: 10px;
 }
 .chat{
    color: #BC7AF9;
     margin-right: 10px;
 }
 .trending-up{
    color: #65B741; 
    margin-right: 10px;
 }

.pioneer-box1middle--center-size h6 {
    font-size: 12px;
    margin-top: 5px;
}

.pioneer-blog2--first-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    margin: 13px;
    color: #8E8E8E;
}

.pioneer-blog2--first-text1 {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    margin: 13px;
}

.poineer-blog2--firstpart {
    border-radius: 12px;
    border: 1px solid #EAEAEE;
    background: #FFF;
    line-height: 0.7;
}

.pioneer-blog2--first-box4 p {
    font-size: 13px !important;
    color: #FF5D25;
}

.poineer-blog2--first-box--bottom-para {
    font-size: 13px;
    font-weight: 300;
}

.poineer-blog2--second-box1 {
    border-radius: 50px;
    border: 1px solid rgba(191, 200, 226, 0.30);
    background: #FFF;
}

.poineer-blog2--second-box2 {
    border-radius: 12px;
    border: 1px solid #EAEAEE;
    background: #FFF;
    margin-left: 65px;
}

.poineer-blog2--second-box2-para1 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: #4B4B4B;
}

.poineer-blog2--second-box2-para {
    line-height: .1;
}

.poineer-blog2--second-box--bottom-para {
    font-size: 14px;
    color: #4B4B4B;
    font-weight: 300;
}

.poineer-blog2--thirdbox h2 {
    color: #FF5D25;
    font-style: normal;
}

.find-blog--bg {
    background: linear-gradient(#FEF0EB -36.19%, #F3F0FF 100%);
    border-radius: 18px;
}

.find-blog--heading h2 {
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
}

.find-blog--heading h1 {
    color: #FF5D25;
}

.find-blog--heading p {
    color: #030122;
    text-align: center;
    font-size: 17px;
    font-style: normal;
}

.find-blog--box1 {
    width: 130px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid rgba(191, 200, 226, 0.30);
    background: #FFF;
    color: #0B46C1;
    margin-top: 180px;
    margin-left: 110px;

}

.find-blog--box2 {
    width: 150px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid rgba(191, 200, 226, 0.30);
    background: #FFF;
    color: #609966;
    margin-top: 80px;
}

.find-blog--box1para,
.find-blog--box2para {
    font-size: 13px;
}

.find-blog--delar-box2 {
    border-radius: 50px;
    border: 1px solid rgba(191, 200, 226, 0.30);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    background: #FFF;
}

.find-blog--delar-box2-top {
    border-radius: 15px 15px 5px 5px;
    background: #FFFBF7;
}

.find-blog--delar-box3 {
    width: 120px;
    border-radius: 50px;
    border: 1px solid rgba(219, 219, 219, 0.30);
    background: #FFF;
    color: #EE7214;
    height: 35px;
    margin-top: 100px;
}

.find-blog--delar-box3 p,
.find-blog--delar-box4 p {
    font-size: 13px;
}

.find-blog--delar-box4 {
    width: 150px;
    border-radius: 50px;
    border: 1px solid rgba(219, 219, 219, 0.30);
    background: #FFF;
    color: #068DA9;
    height: 35px;
}

.user-blog--text h1 {
    color: #FF5D25;
}

.our-blog--heading {
    color: #FF5D25;
}

.our-blog--btn {
    border: 1px solid rgba(255, 77, 0, 0.45);
    border-bottom: none;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    color: #FF5D25;
    font-size: 10px;
}

.our-blog--btn:hover {
    background-color: #FF5D25;
    color: white;
}

.ohoh-img {
    width: 400px !important;
    height: 220.83px !important;

}

.card {
    border-radius: 12px !important;
    background: #F6F6F6 !important;
}

.testimonials-dots {
    width: 8px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    background-color: #D9D9D9;
}

.testimonials-blog h1 {
    color: #FF5D25;
}

.ohoh-side1 {
    width: 20px;
    height: 200px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #FEC;
    background: #FEFAF8;
}

.ohoh-side2 {
    width: 20px;
    height: 200px;
    border-radius: 10px 15px 15px 0px;
    border: 1px solid #FEC;
    background: #FEFAF8;
    margin-right: 30px;
}

.testimonials-blog--slide-box {
    border-radius: 15px;
    border: 1px solid #FFE3D4;
    background: #FFF;
}

.testimonials-blog-slide {
    width: 40px;
    aspect-ratio: 1/1;
    background: #FFE3D4;
    margin-top: 120px;
}

.explore-blog--bg {
    background: linear-gradient(#FEF0EB -36.19%, #F3F0FF 100%);
    border-radius: 18px;
}

.explore-blog-text h1 {
    color: #FF5D25;
}
 .explore-blog p,i {
    font-size: 14px;
    font-weight: 500;
}

.explore-btn a {
    border-radius: 32px;
    border: 1px solid rgba(255, 77, 0, 0.45);
    background: #F7F6FF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    font-size: 12px;
    border-bottom: none;
}

.explore-btn a:hover {
    background-color: #FF5D25;
    color: white;
}

.contact-blog {
    background: #0C0636;
    color: white;
}

.contact-blog p {
    font-style: normal;
    font-weight: 100;
    color: #D9D8D8;
    font-size: 14px;
}

.contact-blog h1 {
    font-size: 18px;
    font-weight: 500;
}

.icon1,
.icon2,
.icon3,
.icon4 {
    width: 35px;
    aspect-ratio: 1/1;
    background-color: #CBCBCB;
    border-radius: 30px;
    padding: 5px;
    color: black;
}

.icon1:hover {
    background-color: #FF5D25;
    color: white;
}

.icon2:hover {
    background-color: #FF5D25;
    color: white;
}

.icon3:hover {
    background-color: #FF5D25;
    color: white;
}

.icon4:hover {
    background-color: #FF5D25;
    color: white;
}
.footer-allrights{
    font-size: 12px;
    color: #959595;
    margin-top: 20px;
}